LOCATE COMP "clk_i" SITE "P6";
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 25 MHZ;

LOCATE COMP "led_a" SITE "A11";
IOBUF PORT "led_a" IO_TYPE=LVCMOS33;

LOCATE COMP "led_b" SITE "A12";
IOBUF PORT "led_b" IO_TYPE=LVCMOS33;

LOCATE COMP "led_c" SITE "B11";
IOBUF PORT "led_c" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_tx" SITE "B9";
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;
